:root {
  --white: white;
  --background: #f4f6f7;
  --border: rgba(15, 100, 146, .2);
  --heading: #141718;
  --paragraph: rgba(20, 23, 24, .8);

  --accent-a1: #00693e;
  --accent-a2: #bc0087;
  --accent-a3: #3959ff;
  --accent-a4: #ffc107;

  --accent-b1: rgba(114, 174, 131, 0.07);
  --accent-b2: rgba(188, 0, 135, .07);
  --accent-b3: rgba(57, 89, 255, .07);

  /* Fonts */
  --w-font-sans: 'Space Grotesk', sans-serif;
  --w-font-mono: 'IBM Plex Mono', monospace;

  /* Primary Color - Deep Teal */
  --w-color-primary: #006D5B; /* hsl(168, 100%, 21%) */
  --w-color-primary-200: #005247; /* Darker shade for accents */

  /* Secondary Color - Soft Green */
  --w-color-secondary: #2C906F;
  --w-color-secondary-600: hsl(160, 53%, 32%); /* Hover states */
  --w-color-secondary-400: hsl(160, 53%, 42%); /* Active states */
  --w-color-secondary-100: hsl(160, 53%, 82%); /* UI highlights over dark backgrounds */
  --w-color-secondary-75: hsl(160, 53%, 87%);  /* UI highlights over dark text */
  --w-color-secondary-50: hsl(160, 53%, 92%);  /* Backgrounds */

  /* Additional Secondary Colors */
  --w-color-secondary-blue: #357ABD; /* hsl(213, 56%, 47%) */
  --w-color-secondary-red: #D1495B; /* hsl(353, 61%, 56%) */

  /* Positive Messages - Vibrant Green */
  --w-color-positive-100: #28A745; /* hsl(134, 61%, 41%) */
  --w-color-positive-50: #C3E6CB;  /* Background for positive states */

  /* Information Messages - Calm Blue */
  --w-color-info-100: #17A2B8; /* hsl(188, 71%, 41%) */
  --w-color-info-50: #D1ECF1; /* Background for information messages */

  /* Warning Messages - Soft Amber */
  --w-color-warning-100: #FFC107; /* hsl(45, 100%, 50%) */
  --w-color-warning-50: #FFF3CD;  /* Background for warnings */


  /* Critical Messages - Strong Red */
  --w-color-critical-200: #DC3545; /* hsl(354, 70%, 47%) */
  --w-color-critical-100: #F8D7DA; /* Background for critical states */
  --w-color-critical-50: #FDECEA;  /* Background only */
}
