{% extends "home/base.html" %}
{% load static%}

{% block content %}
  <section class="section-hero">
    <div class="content">
      <div class="w-layout-grid grid-hero">
        <div id="hero-content" class="block-hero">
          <h1 class="heading-hero">The modern way to manage collections</h1>
          <p class="paragraph-hero">Easily create collections and link to it using NFC tags.</p>
          <div class="button-hero">
            <a href="/accounts/signup" class="button w-button">Get Started</a>
          </div>
        </div>
        <div class="block-right">
          <h2 class="heading">What are NFC tags?</h2>
          <p class="paragraph">NFC tags are small programmable chips that can transer information to nearby devices. Here, they're used to store a link pointing to collection item and how many times it's been tapped.</p>
          <div class="w-layout-grid grid-numbers">
            <div class="numbers">
              <img src="{% static 'base/images/add.svg' %}" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers">Add</h4>
              <div class="text-numbers">a collection for whatever your trying to organize</div>
            </div>
            <div class="numbers blue">
              <img src="{% static 'base/images/link.png' %}" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers blue">Link</h4>
              <div class="text-numbers blue">to it using an NFC tag for a physical interface</div>
            </div>
            <div class="numbers red">
              <img src="{% static 'base/images/manage.svg' %}" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers red">Manage</h4>
              <div class="text-numbers red">your inventory with the help of a personalized chatbot</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
