{% extends "contact/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top">{{ page.intro|richtext }}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="contact">
        <div class="subtitle green">contact form<br></div>
        <h2 class="heading">Let's Get Started</h2>
        <div class="form-block w-form">
          <form class="form" action="{% pageurl page %}" method="POST">
            {{ form.as_div }}
            <button type="Submit" class="submit-button w-button">Submit</button>
          </form>
          <div class="success-message w-form-done">
            <div class="text-success">Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div class="text-error">Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
