{% extends "index.html" %}
{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags navigation_tags %}

{% block body %}
  <header role="banner">
    <div class="navbar w-nav">
      <div class="nav-block">
        <div class="nav">
          {% get_site_root as site_root %}
            {% if user.is_authenticated %}
              {% wagtailuserbar 'top-left' %}
            {% else %}
            <a href="{% pageurl site_root %}" class="brand w-nav-brand">
              <img src="{% static 'base/images/logos/logo.svg' %}" alt="Digidex Logo" class="logo">
            </a>
            {% endif %}
          <nav role="navigation" class="nav-menu w-nav-menu">
            <div class="button-mobile">
              {% get_navigation_buttons %}
            </div>
          </nav>
        </div>
        <div class="nav">
          <div class="button-desktop">
            {% get_navigation_buttons %}
          </div>
          <div class="menu-button w-nav-button">
            <div class="icon-menu w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main role="main">
    {% block content %}{% endblock %}
    {% if request.user == page.owner %}
      {% include "assistant/assistant.html" with user=request.user %}
    {% endif %}
  </main>
{% endblock body %}

{% block extra_body %}{% endblock %}