{% extends "inventory/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="utility-page-wrap">
    <div class="utility-page-content">
      {% if form_submission_text %}
        <p class="paragraph-account">{{ form_submission_text|richtext }}</p>
      {% else %}
        <h2 class="heading-account">Your form was successfully submitted!</h2>
      {% endif %}
      <a href="/" class="button base-button">Home</a>
    </div>
  </div>
{% endblock content %}