{% extends "inventory/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
      </div>
      <div class="block-categories">
        <a href="#" aria-current="page" class="link-category w-inline-block w--current">
            <img alt="green switcher toggle" loading="eager" decoding="async" src="{% static 'base/images/switcher.svg' %}" class="icon-category">
          <div class="text-category">All</div>
        </a>
        <div class="collection-list-wrapper-categories w-dyn-list">
          <div role="list" class="collection-list-categories w-dyn-items">
            {% for box in boxes %}
              <div role="listitem" class="collection-item-categories w-dyn-item">
                <a href="{{ box.url }}" class="link-category w-inline-block">
                  <img alt="Inventory Box Icon" loading="eager" decoding="async" src="{% static 'base/images/star.svg' %}" class="icon-category">
                  <div class="text-category">{{ box.title }}</div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      {% include 'inventory/includes/collection.html' %}
    </div>
  </section>
{% endblock content %}

{% block extra_js %}
{% endblock  %}