{% extends "inventory/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section-top padding-0">
    <div class="content">
      <div class="block-top">
        <div class="date-top">{{ date }}</div>
        <h1 class="heading-top">{{ name }}</h1>
        <p class="paragraph-top blog-post">{{ description }}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content narrow">
      <figure class="w-richtext-align-fullwidth w-richtext-figure-type-image">
        {% if main_image %}
          {% image main_image max-1024x882 loading="lazy" class="image-main-post" decoding="async" alt="main_image.alt" %}
          {% if main_image.caption %}
            <figcaption>{{ main_image.caption }}</figcaption>
          {% endif %}
        {% endif %}
      </figure>
      <div class="post-body">
        <div class="rich-text-block w-dyn-bind-empty w-richtext">
          {{ body|richtext }}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}