{% extends "inventory/base.html" %}
{% load static%}

{% block content %}
  <section class="section-hero">
    <div class="content">
      <div class="w-layout-grid grid-hero">
        <div id="hero-content" class="block-hero">
          <h1 class="heading-hero">The modern way to manage collections</h1>
          <p class="paragraph-hero">Easily create collections and link to it using NFC tags.</p>
          <div class="button-hero">
            <a href="#" class="button w-button">Get Started</a>
          </div>
        </div>
        <div class="block-right">
          <h2 class="heading">What are NFC tags?</h2>
          <p class="paragraph">NFC tags are small programmable chips that can transer information to nearby devices. Here, they're used to store a link pointing to collection item and how many times it's been tapped.</p>
          <div class="w-layout-grid grid-numbers">
            <div class="numbers">
              <img src="images/app-connectivity.svg" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers">Create </h4>
              <div class="text-numbers">a collection either before or.</div>
            </div>
            <div id="w-node-_789e64b8-db23-92f3-fc78-b228e61599d1-0e941739" class="numbers green">
              <img src="images/content-delivery-network.svg" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers green">Link</h4>
              <div class="text-numbers green">servers around the world</div>
            </div>
            <div id="w-node-_789e64b8-db23-92f3-fc78-b228e61599d1-0e941739" class="numbers green">
              <img src="images/content-delivery-network.svg" loading="eager" alt="" class="icon-numbers">
              <h4 class="heading-numbers green">Manage</h4>
              <div class="text-numbers green">servers around the world</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
