{% extends "botany/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top">{{ page.description|richtext }}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="collection-list-wrapper-posts w-dyn-list">
        {% for plant in plants %}
          <div role="list" class="collection-list-posts w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <div class="block-post">
                <a href="{{ plant.slug }}" class="link-post-thumbnail w-inline-block">
                  {% with plant.main_image as main_image %}
                    {% if main_image %}
                      {% image main_image original class="image-main-post" %}
                      {% if main_image.caption %}
                        <p>{{ main_image.caption }}</p>
                      {% endif %}
                    {% else %}
                      <img alt="Plant Thumbnail Placeholder" loading="lazy" decoding="async" src="{% static 'botany/plant-placeholder.svg' %}" class="image-main-post">
                    {% endif %}
                  {% endwith %}
                </a>
                <div class="post">
                  {% if plant.date %}
                    <div class="date">{{ plant.date }}</div>
                  {% endif %}
                  <a href="{{ plant.slug }}" class="link-heading-post w-inline-block">
                    <h4 class="heading-post">{{ plant.name }}</h4>
                  </a>
                  <p class="paragraph-post">{{ plant.description|richtext }}</p>
                  <a href="{{ plant.slug }}" class="link-block w-inline-block">
                    <div class="text-link">Read more</div>
                    <div class="block-icon-link">
                      <img src="{% static 'base/images/bx-arrow-to-right_green.svg' %}" loading="lazy" decoding="async" alt="Green Arrow Pointing Right" class="icon-link">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="empty-state w-dyn-empty">
            <div class="text-empty">No plants found.</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}