{% load static %}
<section class="section">
  <div id="inventory-assistant" class="content" data-id="{{ user.uuid }}">
    <div style="background-color: var(--accent-a1);" class="contact">
      <div class="subtitle white">inventory assistant<br></div>
      <div id="chat-messages" style="background-color: var(--white);" class="form-block w-form"></div>
      <div class="form-block w-form">
        <input id="chat-input" class="text-field w-input" maxlength="256" placeholder="Type your message here...">
        <button id="send-button" class="button yellow w-button">Send</button>
      </div>
    </div>
  </div>
</section>
<script>
  document.getElementById('send-button').addEventListener('click', function() {
      const userInput = document.getElementById('chat-input').value;

      if (userInput.trim() === "") return;
      // Display the user's message
      const userMessageDiv = document.createElement('div');
      userMessageDiv.className = 'user-message';
      userMessageDiv.innerText = userInput;
      document.getElementById('chat-messages').appendChild(userMessageDiv);
      document.getElementById('chat-input').value = "";

      // Prepare the AJAX request
      const xhr = new XMLHttpRequest();
      const apiUrl = `/assistant/chat/?question=${encodeURIComponent(userInput)}`;

      xhr.open('GET', apiUrl, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-CSRFToken', getCSRFToken());

      xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
              const response = JSON.parse(xhr.responseText);

              const botMessageDiv = document.createElement('div');
              botMessageDiv.className = 'bot-message';
              botMessageDiv.innerText = response.chat;
              document.getElementById('chat-messages').appendChild(botMessageDiv);
              document.getElementById('chat-messages').scrollTop = document.getElementById('chat-messages').scrollHeight;
          } else if (xhr.readyState === 4) {
              console.error('Error:', xhr.statusText);
          }
      };
      // Send the request
      xhr.send();
  });

  // Function to get the CSRF token from the cookie
  function getCSRFToken() {
      const name = 'csrftoken';
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.startsWith(name + '=')) {
              return cookie.substring(name.length + 1);
          }
      }
      return '';
  }
</script>