<body>
  <section class="section-top-bar">
    <div class="top-bar-block">
      <div class="top-bar">
        <div class="info-top-bar">New customer offer: Get 25% off your first order with promo code NEW25</div>
      </div>
    </div>
  </section>
  <section class="section-top">
    <div style="opacity:0" class="content">
      <div class="block-top">
        <h1 class="heading-top">Style Guide</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content narrow">
      <div class="page-body">
        <h3 class="heading-template">Typography</h3>
        <div class="rich-text-block w-richtext">
          <p>Condimentum enim ut nunc, sed magna scelerisque quam nec. Ullamcorper ullamcorper sed erat enim. Pellentesque sit nibh faucibus nunc amet hendrerit rhoncus, phasellus eros. Tincidunt blandit sed sagittis.</p>
          <p>
            <a href="../template-info/style-guide.html" aria-current="page" class="w--current">Paragraph Links</a> — <strong>Bold Text</strong> — <em>Italic Text</em>
          </p>
          <p>At consectetur ullamcorper in integer quam viverra. Pharetra venenatis integer in dignissim aenean vivamus non id. Ultrices pharetra tellus id sed aliquam faucibus. Tincidunt laoreet amet sodales etiam.</p>
          <ul role="list">
            <li>Sit placerat aenean consequat nisi augue consectetur.</li>
            <li>Vel accumsan ultrices adipiscing aliquet massa</li>
            <li>Lacus felis fermentum odio auctor purus.</li>
          </ul>
          <ol start="" role="list">
            <li>Sit placerat aenean consequat nisi augue consectetur.</li>
            <li>Vel accumsan ultrices adipiscing aliquet massa</li>
            <li>Lacus felis fermentum odio auctor purus.</li>
          </ol>
          <p>Condimentum enim ut nunc, sed magna scelerisque quam nec. Ullamcorper ullamcorper sed erat enim. Pellentesque sit nibh faucibus nunc amet hendrerit.</p>
          <blockquote>Amet nisi ut ultrices lacus. Fermentum mattis metus nam id nam nunc fermentum tortor pellentesque. Sit lacus pharetra bibendum velit. Urna lacus ut sed maecenas nisi tempor magna.</blockquote>
          <p>At consectetur ullamcorper in integer quam viverra. Pharetra venenatis integer in dignissim aenean vivamus non id. Ultrices pharetra tellus id sed aliquam faucibus. Tincidunt laoreet amet sodales etiam. Convallis tincidunt id nam auctor.</p>
          <figure style="max-width:882pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
            <div><img src="../images/style_guide.png" loading="lazy" alt=""></div>
            <figcaption>Pharetra venenatis integer in dignissim aenean vivamus non id.</figcaption>
          </figure>
          <p>At consectetur ullamcorper in integer quam viverra. Pharetra venenatis integer in dignissim aenean vivamus non id. Ultrices pharetra tellus id sed aliquam.</p>
          <h1>Heading H1</h1>
          <h2>Heading H2</h2>
          <h3>Heading H3</h3>
          <h4>Heading H4</h4>
          <h5>Heading H5</h5>
          <h6>Heading H6</h6>
        </div>
        <h1>Heading H1</h1>
        <h2>Heading H2</h2>
        <h3>Heading H3</h3>
        <h4>Heading H4</h4>
        <h5>Heading H5</h5>
        <h6>Heading H6</h6>
      </div>
      <div class="page-body">
        <h3 class="heading-template">Colors</h3>
        <div class="w-layout-grid grid-colors">
          <div id="w-node-_32c8226f-33dd-fbaa-d45d-060a456aaf95-0e94174d" class="block-color">
            <div class="text-color">White</div>
            <div class="hex-color">#FFFFFF</div>
          </div>
          <div id="w-node-b387dea9-8019-c2f6-be02-402e509d0d3f-0e94174d" class="block-color background">
            <div class="text-color">Background</div>
            <div class="hex-color">#F4F6F7</div>
          </div>
          <div id="w-node-e1ae69f4-ecd5-f39a-5fc9-1f700408dd57-0e94174d" class="block-color border">
            <div class="text-color">Border</div>
            <div class="hex-color">#0f6492 - 20%</div>
          </div>
          <div id="w-node-_1fb25b1f-87ef-df55-75d4-03cf0ca91c9a-0e94174d" class="block-color heading-color">
            <div class="text-color white">Heading</div>
            <div class="hex-color white">#141718</div>
          </div>
          <div id="w-node-dae830aa-7d74-8280-15df-739305051422-0e94174d" class="block-color accent-a1">
            <div class="text-color white">Accent A1</div>
            <div class="hex-color white">#3959ff</div>
          </div>
          <div id="w-node-_17c4775c-9fd6-f8ab-9d9f-9d2fece60496-0e94174d" class="block-color accent-a2">
            <div class="text-color white">Accent  A2</div>
            <div class="hex-color white">#bc0087</div>
          </div>
          <div id="w-node-_971632f7-d243-a370-a389-ccd2fd07720a-0e94174d" class="block-color accent-a3">
            <div class="text-color white">Accent A3</div>
            <div class="hex-color white">#008726</div>
          </div>
          <div id="w-node-_47171186-af89-bff0-fc97-dc7fc0cc80ae-0e94174d" class="block-color accent-a4">
            <div class="text-color">Accent A4</div>
            <div class="hex-color">#eadb5b</div>
          </div>
          <div id="w-node-_37f28855-38c9-315b-3bed-658dfea6c532-0e94174d" class="block-color accent-b1">
            <div class="text-color">Accent B1</div>
            <div class="hex-color">#3959FF - 7%</div>
          </div>
          <div id="w-node-c1f37475-78be-77d4-3517-e9edc471daa8-0e94174d" class="block-color accent-b2">
            <div class="text-color">Accent  B2</div>
            <div class="hex-color">#BC0087 - 7%</div>
          </div>
          <div id="w-node-fef66e34-bed4-14f1-f94b-58a82175ce80-0e94174d" class="block-color accent-b3">
            <div class="text-color">Accent B3</div>
            <div class="hex-color">#008726 - 7%</div>
          </div>
          <div id="w-node-_86c75230-b171-2a4a-b09f-aae835e2572a-0e94174d" class="block-color paragraph-color">
            <div class="text-color white">Paragraph</div>
            <div class="hex-color white">#141718 - 80%</div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <h3 class="heading-template">Buttons</h3>
        <div class="block-button">
          <a href="#" class="button w-button">Button Text</a>
          <a href="#" class="button-small w-button">Button Text</a>
        </div>
        <div class="block-button">
          <a href="#" class="button dark w-button">Button Text</a>
          <a href="#" class="button-small dark w-button">Button Text</a>
        </div>
        <div class="block-button">
          <a href="#" class="button yellow w-button">Button Text</a>
          <a href="#" class="button-small yellow w-button">Button Text</a>
        </div>
        <div class="block-button">
          <a href="#" class="button-outline w-button">Button Text</a>
          <a href="#" class="button-outline-small w-button">Button Text</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-footer">
    <div class="content">
      <div class="w-layout-grid grid-footer">
        <div id="w-node-d0458a27-e73f-e612-462d-65302581b228-2581b225" class="block-footer"><img src="../images/logo.svg" loading="eager" alt="" class="logo-footer">
          <div class="paragraph-footer">Fast, Reliable, Secure - Your Website Deserves the Best Hosting<br></div>
          <div class="block-social">
            <a href="tel:+1(888)123-4567" class="social-link w-inline-block"><img src="../images/phone-voice.svg" loading="eager" alt="" class="icon-social"></a>
            <a href="mailto:support@yoursite.com" class="social-link w-inline-block"><img src="../images/email.svg" loading="eager" alt="" class="icon-social"></a>
            <a href="#" class="social-link w-inline-block"><img src="../images/chat-launch.svg" loading="eager" alt="" class="icon-social"></a>
          </div>
        </div>
        <div id="w-node-d0458a27-e73f-e612-462d-65302581b234-2581b225" class="block-footer">
          <div class="subtitle-footer">Quick Links<br></div>
          <a href="../solutions.html" class="link-footer">Solutions</a>
          <a href="../company.html" class="link-footer">Company</a>
          <a href="../contact.html" class="link-footer">Contact</a>
          <a href="../blog.html" class="link-footer">Blog</a>
        </div>
        <div id="w-node-d0458a27-e73f-e612-462d-65302581b24c-2581b225" class="block-footer">
          <div class="subtitle-footer">Template<br></div>
          <a href="../template-info/licensing.html" class="link-footer">Licensing</a>
          <a href="../template-info/style-guide.html" aria-current="page" class="link-footer w--current">Style Guide</a>
          <a href="../template-info/changelog.html" class="link-footer">Changelog</a>
          <a href="../template-info/instructions.html" class="link-footer">Instructions</a>
        </div>
        <div id="w-node-d0458a27-e73f-e612-462d-65302581b240-2581b225" class="block-footer">
          <div class="subtitle-footer">Social<br></div>
          <a href="https://www.facebook.com/webflow/" target="_blank" class="link-footer">Facebook</a>
          <a href="https://twitter.com/webflow" target="_blank" class="link-footer">Twitter</a>
          <a href="https://www.youtube.com/c/Webflow" target="_blank" class="link-footer">YouTube</a>
        </div>
      </div>
      <div class="block-footer-down">
        <div class="text-footer-down">All rights reserved. Powered by <a href="https://webflow.com/" target="_blank" class="link-footer-down">Webflow</a><br></div>
      </div>
    </div>
  </section>
</body>
