{% extends "blog/base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <section class="section-top padding-0">
    <div class="content">
      <div class="block-top">
        <div class="date-top">{{ page.date }}</div>
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top blog-post">{{ page.intro }}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content narrow">
      {% for item in page.gallery_images.all %}
        <div>
          {% image item.image original class="image-main-post" %}
          <p>{{ item.caption }}</p>
        </div>
      {% endfor %}
      <div class="post-body">
        <div class="rich-text-block w-dyn-bind-empty w-richtext">{{ page.body|richtext }}</div>
      </div>
    </div>
    <p>
      <a href="{{ page.get_parent.url }}">Return to blog</a>
    </p>
    {% with tags=page.tags.all %}
      {% if tags %}
        <div class="tags">
          <h3>Tags</h3>
          {% for tag in tags %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}">
              <button type="button">{{ tag }}</button>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
{% endblock content %}