{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top">{{ page.intro|richtext }}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="collection-list-wrapper-posts large w-dyn-list">
        <div role="list" class="collection-list-posts large w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <div class="block-post large">
              <a href="#" class="link-post-thumbnail large w-inline-block">
                {% with post.main_image as main_image %}
                  {% if main_image %}
                    {% image main_image original class="image-post-thumbnail large" %}
                  {% else %}
                    <img alt="Featured blog post placeholder" loading="lazy" decoding="async" src="{% static 'base/images/placeholder.svg' %}" class="image-post-thumbnail">
                  {% endif %}
                {% endwith %}
              </a>
              <div class="post large">
                <div class="date"></div>
                <a href="#" class="link-heading-post large w-inline-block">
                  <h3 class="heading-post"></h3>
                </a>
                <p class="paragraph-post large"></p>
                <a href="#" class="link-block w-inline-block">
                  <div class="text-link">Read more</div>
                  <div class="block-icon-link">
                    <img src="{% static 'base/images/bx-arrow-to-right_blue.svg' %}" loading="lazy" decoding="async" alt="Blue Arrow Pointing Right" class="icon-link">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collection-list-wrapper-posts w-dyn-list">
        {% for post in page.get_children %}
          {% with post=post.specific %}
            <div role="list" class="collection-list-posts w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <div class="block-post">
                  <a href="{% pageurl post %}" class="link-post-thumbnail w-inline-block">
                    {% with post.main_image as main_image %}
                      {% if main_image %}
                        {% image main_image original class="image-post-thumbnail" %}
                      {% else %}
                        <img alt="Blog Post Placeholder" loading="eager" decoding="async" src="{% static 'base/images/placeholder.svg' %}" class="image-post-thumbnail">
                      {% endif %}
                    {% endwith %}
                  </a>
                  <div class="post">
                    <div class="date">{{ post.date }}</div>
                    <a href="{% pageurl post %}" class="link-heading-post w-inline-block">
                      <h4 class="heading-post">{{ post.title }}</h4>
                    </a>
                    <p class="paragraph-post">{{ post.body|richtext }}</p>
                    <a href="{% pageurl post %}" class="link-block w-inline-block">
                      <div class="text-link">Read more</div>
                      <div class="block-icon-link">
                        <img src="{% static 'base/images/bx-arrow-to-right_blue.svg' %}" loading="lazy" decoding="async" alt="Blue Arrow Pointing Right" class="icon-link">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endwith %}
        {% empty %}
          <div class="empty-state w-dyn-empty">
            <div class="text-empty">No items found.</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}