{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">{{ page.title }}</h1>
        <p class="paragraph-top">{{ page.intro }}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="collection-list-wrapper-posts featured w-dyn-list">
        {% if featured_posts %}
          <div role="list" class="collection-list-posts featured w-dyn-items">
            {% for featured in featured_posts %}
              <div role="listitem" class="w-dyn-item">
                <div class="block-post featured">
                  <a href="{% pageurl featured %}" class="link-post-thumbnail featured w-inline-block">
                    {% with featured.main_image as main_image %}
                      {% if main_image %}
                        {% image main_image original class="image-post-thumbnail featured" %}
                      {% else %}
                        <img alt="Featured blog post placeholder" loading="lazy" decoding="async" src="{% static 'base/images/placeholder.svg' %}" class="image-post-thumbnail">
                      {% endif %}
                    {% endwith %}
                  </a>
                  <div class="post featured">
                    <div class="date">{{ featured.date }}</div>
                    <a href="{% pageurl featured %}" class="link-heading-post featured w-inline-block">
                      <h3 class="heading-post">{{ featured.title }}</h3>
                    </a>
                    <p class="paragraph-post featured">{{ featured.intro }}</p>
                    <a href="{% pageurl featured %}" class="link-block w-inline-block">
                      <div class="text-link">Read more</div>
                      <div class="block-icon-link">
                        <img src="{% static 'base/images/bx-arrow-to-right_green.svg' %}" loading="lazy" decoding="async" alt="Green Arrow Pointing Right" class="icon-link">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="collection-list-wrapper-posts w-dyn-list">
        {% if posts %}
          <div role="list" class="collection-list-posts w-dyn-items">
            {% for post in posts %}
              <div role="listitem" class="w-dyn-item">
                <div class="block-post">
                  <a href="{% pageurl post %}" class="link-post-thumbnail w-inline-block">
                    {% with post.main_image as main_image %}
                      {% if main_image %}
                        {% image main_image fill-320x240 class="image-post-thumbnail" %}
                      {% else %}
                        <img alt="Blog Post Placeholder" loading="eager" decoding="async" src="{% static 'base/images/placeholder.svg' %}" class="image-post-thumbnail">
                      {% endif %}
                    {% endwith %}
                  </a>
                  <div class="post">
                    <div class="date">{{ post.date }}</div>
                    <a href="{% pageurl post %}" class="link-heading-post w-inline-block">
                      <h4 class="heading-post">{{ post.title }}</h4>
                    </a>
                    <p class="paragraph-post">{{ post.intro }}</p>
                    <a href="{% pageurl post %}" class="link-block w-inline-block">
                      <div class="text-link">Read more</div>
                      <div class="block-icon-link">
                        <img src="{% static 'base/images/bx-arrow-to-right_green.svg' %}" loading="lazy" decoding="async" alt="Green Arrow Pointing Right" class="icon-link">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="empty-state w-dyn-empty">
            <div class="text-empty">No posts found.</div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}