<section class="section">
  <div class="content narrow">
    <div class="page-body">
      <div class="block-button">
        {% for action, url in urls.items %}
          {% if action == 'Edit' %}
            <a href="{{ url }}" class="button w-button">{{ action }}</a>
          {% elif action == 'Usage' %}
            <a href="{{ url }}" class="button-outline w-button">{{ action }}</a>
          {% else %}
            <a href="{{ url }}" class="button yellow w-button">{{ action }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>