{% extends "base/base.html" %}

{% block title %}NFC Tags{% endblock %}

{% block content %}
  <section class="section-top">
    <div class="content">
      <div class="block-top">
        <h1 class="heading-top">Linked NFC Tags</h1>
        {% if intro %}
          <p class="paragraph-top">{{ intro }}</p>
        {% endif %}
      </div>
    </div>
  </section>

  {% if details %}
    {% include "nfctags/includes/details.html" with card=details %}
  {% endif %}

  {% if tasks %}
    {% include "nfctags/includes/tasks.html" with form=tasks.form url=tasks.form_url %}
  {% endif %}

  {% if views %}
    {% include "nfctags/includes/views.html" with urls=views.urls %}
  {% endif %}
{% endblock %}