{% extends "base/base.html" %}

{% block title %}NFC Tags{% endblock %}

{% block content %}
  <div class="utility-page-wrap">
    <div class="utility-page-content w-password-page w-form">
      <div class="subtitle green">NFC Tags<br></div>
      <h4 class="heading">{{ heading }}</h4>
      {% if object_context %}
        <a href="{{ object_context.url }}" class="button w-button">{{ object_context.title }}</a>
      {% endif %}
      {% if form_context %}
        {% include "nfctags/includes/form.html" with form=form_context.form url=form_context.form_url %}
      {% endif %}
    </div>
  </div>

  {% if admin_context %}
    {% include "nfctags/includes/admin.html" with urls=admin_context.urls %}
  {% endif %}
{% endblock %}